Repository kids-first/kf-api-dataservice, pull requests merged in 2018-02, with the labels that each got.

#121 Phenotype model
  dataservice/api/participant/models.py
  dataservice/api/phenotype/models.py
  dataservice/util/data_gen/data_generator.py
  dataservice/util/data_gen/phenotype_hpo.csv
  migrations/versions/6b2810b12ce7_.py
  tests/phenotype/test_phenotype_models.py
Labels: data model

#125 ✨ Add Outcome Entity to Model
  dataservice/api/outcome/__init__.py
  dataservice/api/outcome/models.py
  dataservice/api/participant/models.py
  dataservice/util/data_gen/data_generator.py
  migrations/versions/c1b8fdd17637_.py
  migrations/versions/ed76240485bc_.py
  tests/outcome/test_outcome_models.py
Labels: data model

#73 📝 swagger docs
  dataservice/__init__.py
  dataservice/api/README.md
  dataservice/api/__init__.py
  dataservice/api/common/model.py
  dataservice/api/common/schemas.py
  dataservice/api/common/views.py
  dataservice/api/demographic/README.md
  dataservice/api/demographic/__init__.py
  dataservice/api/demographic/resources.py
  dataservice/api/demographic/schemas.py
  dataservice/api/diagnosis/__init__.py
  dataservice/api/diagnosis/models.py
  dataservice/api/diagnosis/resources.py
  dataservice/api/diagnosis/schemas.py
  dataservice/api/docs/__init__.py
  dataservice/api/docs/resources.py
  dataservice/api/participant/README.md
  dataservice/api/participant/__init__.py
  dataservice/api/participant/models.py
  dataservice/api/participant/resources.py
  dataservice/api/participant/schemas.py
  dataservice/api/sample/__init__.py
  dataservice/api/sample/resources.py
  dataservice/api/sample/schemas.py
  dataservice/api/status/resources.py
  dataservice/api/templates/delete_by_id.yml
  dataservice/api/templates/get_by_id.yml
  dataservice/api/templates/get_list.yml
  dataservice/api/templates/new_resource.yml
  dataservice/api/templates/redoc.html
  dataservice/api/templates/update_by_id.yml
  requirements.txt
  tests/conftest.py
  tests/demographic/test_demographic_resources.py
  tests/diagnosis/test_diagnosis_resources.py
  tests/participant/test_resources.py
  tests/sample/test_sample_resources.py
  tests/test_api.py
  tests/test_swagger.py
Labels: documentation, feature

#130 ✨ Study model
  dataservice/api/participant/models.py
  dataservice/api/participant/resources.py
  dataservice/api/participant/schemas.py
  dataservice/api/study/models.py
  dataservice/util/data_gen/data_generator.py
  docs/erd.png
  migrations/versions/c23f9043d57b_.py
  tests/aliquot/test_aliquot_models.py
  tests/conftest.py
  tests/demographic/test_demographic_models.py
  tests/demographic/test_demographic_resources.py
  tests/diagnosis/test_diagnosis_models.py
  tests/diagnosis/test_diagnosis_resources.py
  tests/genomic_file/test_genomic_file_models.py
  tests/outcome/test_outcome_models.py
  tests/participant/test_models.py
  tests/participant/test_resources.py
  tests/phenotype/test_phenotype_models.py
  tests/sample/test_sample_models.py
  tests/sample/test_sample_resources.py
  tests/sequencing_experiment/test_sequencingexperiment_models.py
  tests/study/test_study_models.py
  tests/test_api.py
  tests/test_errors.py
Labels: data model

#126 ✨ Workflow model
  dataservice/api/workflow/__init__.py
  dataservice/api/workflow/models.py
  dataservice/util/data_gen/data_generator.py
  docs/erd.png
  migrations/versions/7ef81ce1ca05_.py
  tests/workflow/test_workflow_models.py
Labels: data model

#132 ✨ Add fields to Partcipant Entity
  dataservice/__init__.py
  dataservice/api/participant/models.py
  dataservice/api/participant/resources.py
  dataservice/util/data_gen/data_generator.py
  docs/erd.png
  migrations/versions/44b3990e821e_.py
  tests/aliquot/test_aliquot_models.py
  tests/conftest.py
  tests/demographic/test_demographic_models.py
  tests/demographic/test_demographic_resources.py
  tests/diagnosis/test_diagnosis_models.py
  tests/diagnosis/test_diagnosis_resources.py
  tests/genomic_file/test_genomic_file_models.py
  tests/outcome/test_outcome_models.py
  tests/participant/test_models.py
  tests/participant/test_resources.py
  tests/phenotype/test_phenotype_models.py
  tests/sample/test_sample_models.py
  tests/sample/test_sample_resources.py
  tests/sequencing_experiment/test_sequencingexperiment_models.py
  tests/study/test_study_models.py
  tests/workflow/test_workflow_models.py
Labels: Epic, data model

#107 🗃 Change uuid field to Postgres UUID
  dataservice/api/common/model.py
  dataservice/api/genomic_file/models.py
  migrations/versions/9ff025c8ba49_.py
Labels: refactor

#114 ✨ Family relationship model
  dataservice/__init__.py
  dataservice/api/family_relationship/__init__.py
  dataservice/api/family_relationship/models.py
  dataservice/api/participant/models.py
  dataservice/util/data_gen/data_generator.py
  migrations/versions/c60110f2a43a_.py
  tests/family_relationship/test_family_relationship_models.py
Labels: data model

#131 ✨ Add fields to diagnosis Entity
  dataservice/api/diagnosis/models.py
  dataservice/api/diagnosis/resources.py
  dataservice/util/data_gen/data_generator.py
  migrations/versions/2065a5e939dd_.py
  tests/diagnosis/test_diagnosis_models.py
  tests/diagnosis/test_diagnosis_resources.py
Labels: data model

#139 Feature/add clean before checkout
  Jenkinsfile
Labels: devops

#149 ✨Study file model
  dataservice/__init__.py
  dataservice/api/study/models.py
  dataservice/api/study_file/models.py
  dataservice/util/data_gen/data_generator.py
  docs/erd.png
  migrations/versions/a421e4e2710a_.py
  tests/investigator/test_investigator_models.py
  tests/study_file/test_study_file_models.py
Labels: data model

#135 ✨Kf id prefix
  dataservice/api/README.md
  dataservice/api/aliquot/models.py
  dataservice/api/common/id_service.py
  dataservice/api/common/model.py
  dataservice/api/demographic/README.md
  dataservice/api/demographic/models.py
  dataservice/api/diagnosis/models.py
  dataservice/api/family_relationship/models.py
  dataservice/api/genomic_file/models.py
  dataservice/api/investigator/models.py
  dataservice/api/outcome/models.py
  dataservice/api/participant/README.md
  dataservice/api/participant/models.py
  dataservice/api/phenotype/models.py
  dataservice/api/sample/models.py
  dataservice/api/sequencing_experiment/models.py
  dataservice/api/study/models.py
  dataservice/api/study_file/models.py
  dataservice/api/workflow/models.py
  migrations/versions/0cc35a21afc2_.py
  migrations/versions/2065a5e939dd_.py
  migrations/versions/44b3990e821e_.py
  migrations/versions/5c0f57d4f559_.py
  migrations/versions/6b2810b12ce7_.py
  migrations/versions/7ef81ce1ca05_.py
  migrations/versions/9c4a87f00784_.py
  migrations/versions/9ff025c8ba49_.py
  migrations/versions/a421e4e2710a_.py
  migrations/versions/b7852f8aab0a_.py
  migrations/versions/c1b8fdd17637_.py
  migrations/versions/c23f9043d57b_.py
  migrations/versions/c60110f2a43a_.py
  migrations/versions/ed76240485bc_.py
  tests/conftest.py
  tests/demographic/test_demographic_resources.py
  tests/diagnosis/test_diagnosis_resources.py
  tests/sample/test_sample_resources.py
  tests/test_api.py
  tests/test_errors.py
  tests/test_ids.py
Labels: data model, feature

#77 ✨ Add pagination
  config.py
  dataservice/api/README.md
  dataservice/api/__init__.py
  dataservice/api/common/pagination.py
  dataservice/api/common/schemas.py
  dataservice/api/participant/resources.py
  dataservice/api/participant/schemas.py
  tests/conftest.py
  tests/test_pagination.py
Labels: feature
